@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--Light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

footer {
    position: absolute;
    bottom: 2px;
}

main {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: var(--White);
    padding: 40px 20px;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
}

#inputs-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#day, #month, #year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#day label, #month label, #year label {
    font-weight: 700;
    font-size: 12px;
    color: var(--Smokey-grey);
    letter-spacing: 2px;
}

input {
    max-width: 90px;
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
}

input:focus {
    outline: 1px solid var(--Purple);
}

.error {
    font-size: 8px;
    color: var(--Light-red);
}

.hidden {
    display: none;
}

#break-line {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

#line {
    height: 1px;
    width: 100%;
    background-color: var(--Light-grey);
}

#break-line svg {
    background-color: var(--Purple);
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    cursor: pointer;
    transition: .2s ease-in;
}

#break-line svg:hover {
    background-color: var(--Off-black);
}

#result-section {
    margin-top: 50px;
}

.result {
    display: flex;
    align-items: center;
    gap: 15px;
}

.result h1 {
    font-style: italic;
    font-size: 50px;
    font-weight: 800;
}

.result-area {
    color: var(--Purple);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}

@media screen and (min-width: 800px) {
    #inputs-section {
        justify-content: flex-start;
    }

    main {
        padding: 50px 50px;
    }

    input {
        max-width: 120px;
    }

    #break-line svg {
        left: 95%;
        width: 80px;
        padding: 25px;
        height: 80px;
    }

    .result h1, .result-area {
        font-size: 80px;
    }

    #result-section {
        margin-top: 40px;
    }

    .result {
        gap: 15px;
        line-height: 80px;
    }
}